@font-face {
  font-family: 'galano_grotesque_demobold';
  src: url("../fonts/galano/galanogrotesquedemo-bold-webfont.woff2") format("woff2"), url("../fonts/galano/galanogrotesquedemo-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'galano_grotesque_alt_demobold';
  src: url("../fonts/galano/galanogrotesquealtdemo-bold-webfont.woff2") format("woff2"), url("../fonts/galano/galanogrotesquealtdemo-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #FDFDFF;
  color: #343434;
  margin: 0;
  padding: 0; }

.site-logo {
  overflow: hidden;
  text-indent: -9000px;
  display: block;
  background: url("../images/logos/Wide-Red-Large.svg") 0 0 no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 24.890829694%; }

.site-heading {
  font-size: 38px;
  font-family: galano_grotesque_demobold, Helvetica, Arial, san-serif; }

.site-heading--centered {
  text-align: center; }

.site-nav {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.site-nav li {
  display: inline-block; }

.site-nav li + li {
  margin-left: 20px; }

.site-nav a {
  color: #717070;
  font-family: galano_grotesque_demobold, Helvetica, Arial, san-serif;
  font-size: 18px;
  text-decoration: none;
  text-shadow: 0 1px 1px #FDFDFF; }
  .site-nav a:hover, .site-nav a:focus {
    border-bottom: 2px solid; }

.site-header {
  background: #F8F4EA; }

.site-header__inner {
  max-width: 980px;
  padding: 20px 40px;
  margin: 0 auto; }
  .site-header__inner:after {
    content: "";
    display: table;
    clear: both; }

.site-header__logo {
  float: left;
  max-width: 100%;
  width: 228px; }

.site-header__nav {
  float: right;
  margin-top: 20px; }

.site-header__heading {
  float: left;
  width: 100%;
  clear: both;
  margin-top: 35px; }
