@font-face {
  font-family: 'galano_grotesque_demobold';
  src: url("../fonts/galano/galanogrotesquedemo-bold-webfont.woff2") format("woff2"), url("../fonts/galano/galanogrotesquedemo-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'galano_grotesque_alt_demobold';
  src: url("../fonts/galano/galanogrotesquealtdemo-bold-webfont.woff2") format("woff2"), url("../fonts/galano/galanogrotesquealtdemo-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased; }

body {
  background-color: #FDFDFF;
  color: #343434;
  font-family: Helvetica, Arial, san-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: inherit; }
  a:hover, a:focus {
    border-bottom: 0; }

iframe {
  max-width: 100%; }

img {
  max-width: 100%;
  height: auto; }

.layout-contact-us {
  margin-bottom: -4px; }
  .layout-contact-us:after {
    content: "";
    display: table;
    clear: both; }

.layout-contact-us__column-one {
  float: right;
  width: 33%;
  margin-top: 18px; }

.layout-contact-us__column-two {
  float: left;
  width: 66%;
  padding-right: 20px; }

.site-logo {
  overflow: hidden;
  text-indent: -9000px;
  display: block;
  background: url("../images/logos/Wide-Red-Large.svg") 0 0 no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 24.890829694%;
  border-bottom: none; }

.site-logo--white {
  background-image: url("../images/logos/Wide-White-Large.svg"); }

.site-heading {
  font-size: 38px;
  line-height: 1.184210526em;
  font-family: galano_grotesque_demobold, Helvetica, Arial, san-serif;
  max-width: 50rem;
  margin: 0 auto; }

.site-heading--centered {
  text-align: center; }

.site-nav li {
  display: inline-block; }

.site-nav li + li {
  margin-left: 20px; }

.site-nav a {
  color: #717070;
  font-family: galano_grotesque_demobold, Helvetica, Arial, san-serif;
  font-size: 18px;
  padding-top: 20px;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 1px 1px #FDFDFF;
  border-bottom: 0 solid;
  border-bottom-color: #45A8A3;
  transition: border-width 0.05s ease-in; }
  .site-nav a:hover, .site-nav a:focus {
    border-bottom-width: 2px; }
  .site-nav a.is-active {
    color: #343434; }

.site-header {
  background: #F8F4EA;
  border-bottom: #B8B6B6 1px solid; }

.site-header--image {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 840px;
  padding-bottom: 212px; }

.site-header--image-people {
  background-image: url("../images/header/people.png"); }

.site-header__inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 10px 20px 20px; }
  .site-header__inner:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 770px) {
    .site-header__inner {
      padding: 20px 40px 60px; } }

.site-header__logo {
  float: left;
  width: 228px; }

.site-header__nav {
  float: left;
  text-align: right;
  width: calc(100% - 248px); }

.site-header__heading {
  float: left;
  width: 100%;
  clear: both;
  margin-top: 35px; }

.sub-heading {
  font-size: 28px;
  font-family: galano_grotesque_demobold, Helvetica, Arial, san-serif; }

.sub-heading--centered {
  text-align: center; }

.form-group {
  margin-top: 20px; }

.form-label {
  display: block;
  font-weight: bold;
  font-family: galano_grotesque_demobold, Helvetica, Arial, san-serif;
  cursor: pointer;
  color: #343434;
  font-size: 18px; }

.content-container {
  max-width: 740px;
  margin: 0 auto;
  padding: 35px 20px; }

.such-width {
  background: #FDFDFF;
  position: relative;
  z-index: 1;
  margin-top: 110px;
  padding-bottom: 30px; }
  .such-width:after, .such-width:before {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    transform: skewY(5deg);
    transform-origin: 0;
    right: 0;
    z-index: -1; }
  .such-width:before {
    transform: skewY(-5deg);
    transform-origin: 100%;
    bottom: auto;
    top: -50%; }

.such-width--keppel {
  background: #45A8A3;
  color: #FDFDFF; }

.such-width__inner {
  max-width: 740px;
  margin: 0 auto; }

.intro-copy {
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.333333333em; }

.icon-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 30px 0; }

.icon-list__icon {
  text-align: center;
  width: 33%; }
  .icon-list__icon:before {
    content: '';
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto 10px;
    background: #45A8A3 center center no-repeat;
    background-size: 60px; }

.icon-list__icon--rajah:before {
  background-color: #FFD066; }

.icon-list__icon--jelly-bean:before {
  background-color: #EC604B; }

.icon-list__icon--twitter:before {
  background-color: #1da1f2; }

.icon-list__icon--medium:before {
  background-color: #02b875; }

.icon-list__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold; }

.person-card {
  background: #45A8A3;
  color: #F8F4EA;
  padding: 15px;
  margin: 20px 0;
  border-top-right-radius: 50px;
  font-weight: 400; }

.person-card__image {
  float: right;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #45A8A3;
  -webkit-shape-outside: circle(60px at 68px 20px);
  shape-outside: circle(60px at 68px 20px);
  width: 100px;
  height: 100px;
  margin: -30px -30px 10px 15px; }
  .person-card__image img {
    min-width: 200px;
    margin-left: -25px; }

.text-input {
  font-size: 1em;
  border: 2px solid #B8B6B6;
  background: #FDFDFF;
  width: 100%;
  padding: 5px;
  transition: color 0.1s ease-in-out; }
  .text-input:focus {
    border-color: #45A8A3;
    outline: 0; }

.button {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.333333333em;
  background: #F8F4EA;
  border-radius: 5px;
  font-family: galano_grotesque_demobold, Helvetica, Arial, san-serif;
  text-align: center;
  min-width: 8em;
  padding: .666666667em .888888889em;
  color: #343434;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
  border: none;
  box-shadow: 0px 1px 0px 0px #918F89;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .button:hover, .button:focus {
    background-color: #E6E2D8; }
  .button:active {
    box-shadow: none;
    transform: translate(0, 1px); }

.button--primary {
  background: #EC604B;
  color: #F8F4EA;
  letter-spacing: 0.5px;
  box-shadow: 0px 1px 0px 0px #A14233; }
  .button--primary:hover, .button--primary:focus {
    background-color: #DB5A46; }

.button--spacing-top {
  margin-top: 20px; }

.cta-combo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 25px; }

.cta-combo__copy {
  font-size: 18px;
  width: 60%;
  margin-top: -2px; }

.cta-combo__button {
  width: 40%; }

.social-links {
  font-size: 14px;
  line-height: 1.357142857em; }

.minor-nav {
  display: -ms-flexbox;
  display: flex; }

.minor-nav li + li {
  padding-left: 1.3em; }

.minor-nav a {
  text-decoration: none;
  text-shadow: 0 1px 1px #EC604B;
  border-bottom: 0 solid; }
  .minor-nav a:hover, .minor-nav a:focus {
    border-bottom-width: 1px; }

.site-footer {
  background: #EC604B;
  color: #F8F4EA;
  font-size: 14px;
  line-height: 1.357142857em;
  padding: 80px 40px 40px;
  -webkit-font-smoothing: initial; }

.site-footer__inner {
  max-width: 980px;
  margin: 0 auto; }
  .site-footer__inner:after {
    content: "";
    display: table;
    clear: both; }

.site-footer a {
  color: #F8F4EA;
  text-decoration: none;
  text-shadow: 0 1px 1px #EC604B;
  border-bottom: 0 solid;
  font-weight: bold; }
  .site-footer a:hover, .site-footer a:focus {
    border-bottom-width: 1px; }

@media (min-width: 490px) {
  .site-footer__col-one {
    float: left;
    width: 45%; }
  .site-footer__col-two {
    float: left;
    width: 55%;
    max-width: 440px; }
  .site-footer__col-three {
    clear: both; } }

.site-footer__logo {
  width: 230px;
  margin-bottom: 15px; }
