---
layout: compress
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  <div class="site-background">

      {% include header.html %}

      {% if page.include-above %}
        {% include {{page.include-above}} %}
      {% endif %}

      <main class="content-container content-container--top content-container--bottom">
        {{ content }}
      </main>

      {% if page.include-below %}
        {% for item in page.include-below %}
            {% include {{item}} %}
        {% endfor %}
      {% endif %}

      {% include footer.html %}

  </div>
  </body>
</html>
