@font-face {
    font-family: 'galano_grotesque_demobold';
    src: url('../fonts/galano/galanogrotesquedemo-bold-webfont.woff2') format('woff2'),
         url('../fonts/galano/galanogrotesquedemo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'galano_grotesque_alt_demobold';
    src: url('../fonts/galano/galanogrotesquealtdemo-bold-webfont.woff2') format('woff2'),
         url('../fonts/galano/galanogrotesquealtdemo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

