/**
 * Site header
 */
.site-title {
    float: right;
    width: 22%;
    max-width: 160px;
    height: 0;
    padding-bottom: 14%;
    margin-top: 0.45em;
    margin-bottom: 0.05em;
    background: url('images/logos/Mark-Only-Red.svg') no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    overflow:hidden;
    text-indent:-9000px;
    display:block;
    @media screen and (max-width: 426px) {
        margin-top: 0.25em;
    }
    &:hover,
    &:focus {
        opacity: 0.8;
    }
}


.site-container {
    display: table;
    width: 100%;
    min-height: 100%;
}

/**
 * Site footer
 */
.site-footer {
    background: $background-color-dark;
    display: table-footer-group;
    width: 100%;
}
.site-footer__inner {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color-dark;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(70% - (#{$spacing-unit} / 2));
    width:         calc(70% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.footer-small-print {
  padding: 0 15px;
}

/**
 * Page content
 */
.page-content {
    display: table-row-group;
}
.page-content__inner {
    padding: $spacing-unit / 2 0;
}

.page-heading {
    font-size: 32px;
    line-height: 1.2em;
    font-weight: 600;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.convivio-red {
  color: $convivio-red;
}

// Only displays when you hit the max width of the site, initially created to prevent paragraph widows.
.only-full-width {
  @include media-query($on-content-width) {
    display: none;
  }
}
