.button {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.333333333em;
  background: $isabelline;
  border-radius: 5px;
  font-family: $font-family-primary;
  text-align: center;
  min-width: 8em;
  padding: .666666667em .888888889em;
  color: $black;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
  border-bottom: none;
  &:hover,
  &:focus {

  }
}

.button--primary {
  background: $jelly-bean;
  color: $isabelline;
  letter-spacing: 0.5px;
}

.button--spacing-top {
  margin-top: 20px;
}
