.button {
  display: inline-block;
  font-size: 18px;
  line-height: 1.333333333em;
  background: $isabelline;
  border-radius: 5px;
  @include font-primary;
  text-align: center;
  min-width: 14em;
  padding: .666666667em .888888889em;
  color: $black;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
  border: none;
  box-shadow: 0px 2px 0px 0px #918F89;
  appearance: none;
  &:hover,
  &:focus {
    background-color: #E6E2D8;
  }
  &:active {
    box-shadow: none;
    transform: translate(0, 2px);
  }
}

.button--primary {
  background: $jelly-bean;
  color: $isabelline;
  letter-spacing: 0.5px;
  box-shadow: 0px 2px 0px 0px #A14233;
  &:hover,
  &:focus {
    background-color: #DB5A46;
  }
}

.button--cta {
  width: 100%;
}

.button--spacing-top {
  margin-top: 20px;
}
