.button {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  background: $isabelline;
  border-radius: 5px;
  font-family: $font-family-primary;
  text-align: center;
  min-width: 8em;
  padding: 12px;
  color: $grey;
  text-decoration: none;
  margin: 20px 0;
  cursor: pointer;
  &:hover,
  &:focus {

  }
}

.button--primary {
  background: $jelly-bean;
  color: $isabelline;
  letter-spacing: 0.5px;
}
