.cheese-wedge {
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
  font-weight: 400;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: right;
}
.cheese-wedge:before {
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  transform-origin: 0;
  right: 0;
  z-index: -1;
  transform: skewY(-5deg);
  transform-origin: 0;
  top: 0;
}
.cheese-wedge:after {
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  transform-origin: 0;
  right: 0;
  z-index: -1;
  transform: skewY(-5deg);
  transform-origin: 100%;
  bottom: -50%;
}
.cheese-wedge--right {
  text-align: left;
  &:before {
    transform-origin: 100%;
    transform: skewY(5deg);
  }
  &:after {
    transform-origin: 0;
    transform: skewY(-5deg);
  }
}
.cheese-wedge--jelly-bean {
  &:before,
  &:after {
    background: $jelly-bean;
  }
}
.cheese-wedge--keppel {
  background: $keppel;
  color: $isabelline;
  &:before,
  &:after {
    background: $keppel;
  }
}
.cheese-wedge--rajah {
  background: $rajah;
  &:before,
  &:after {
    background: $rajah;
  }
}
.cheese-wedge--isabelline {
  background: $isabelline;
  &:before,
  &:after {
    background: $isabelline;
  }
}

$dark-aquamarine: darken( $aquamarine, 13% );
.cheese-wedge--aquamarine {
  background: $dark-aquamarine;
  color: $isabelline;
  &:before,
  &:after {
    background: $dark-aquamarine;
  }
}
.cheese-wedge__icon {
  position: absolute;
  top: -80px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: 5;
}
.cheese-wedge__inner {
  max-width: 740px;
  margin: 0 auto;
  @include media-query('(max-width: 931px)') {
    padding: 0 20px;
  }
}
.cheese-wedge__copy {
  @include media-query('(min-width: 931px)') {
    width: 85%;
    margin-left: 15%;
  }
  position: relative;
  z-index: 10;
  .cheese-wedge--right & {
    @include media-query('(min-width: 931px)') {
      margin-left: 0;
      margin-right: 15%;
    }
  }
}
