.cta-combo {
  @include media-query($medium-layout) {
    display: flex;
    justify-content: space-around;
  }
  margin-top: 25px;
}
.cta-combo__copy {
  font-size: 20px;
  line-height: 1.1em;
  margin-top: -2px;
  @include media-query($medium-layout) {
    width: 60%;
  }
}
.cta-combo__button {
  margin-top: 20px;
  @include media-query($medium-layout) {
    margin-top: 0;
    width: 40%;
    padding-left: 20px;
  }
}
