* {
  @include no-spacing;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $jelly-bean;
  color: $black;
  font-family: sans-serif;
  @include font-secondary;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

iframe {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: inherit;
  &:hover,
  &:focus {
    border-bottom: 0;
  }
}

 b,
 strong {
  @include font-secondary--bold;
}
