.formatted-text {
  font-weight: 400;
  h2, h3, h4 {
    @include font-primary;
  }
  h2 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.4em;
  }
  .intro-copy {
    font-size: 20px;
    line-height: 1.3em;
  }
  ul,
  ol {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.3em;
    li {
      margin-bottom: 10px;
      list-style-type: disc;
      list-style-position: outside;
      margin-left: 20px;
    }
    li li {
      margin-top: 5px;
    }
  }
  table {
    margin-top: 15px;
    margin-bottom: 15px;
    border-collapse: collapse;
  }
  th {
    @include font-secondary--bold;
    text-align: left;
    padding: 5px;
    background: $jelly-bean;
    color: $isabelline;
  }
  td {
    padding: 8px;
  }
}
