.icon {
  background: no-repeat right bottom;
  display: block;
  @include media-query('(max-width: 930px)') {
    display: none;
  }
}
.icon--lightbulb {
  background-position: right top;
  background-size: contain;
  position: absolute;
  right: -5%;
  top: 0;
  background-image: url(../images/icons/lightbulb.svg);
  z-index: 2;
  height: 130%;
  width: 50%;
  @include media-query('(min-width: 1210px)') {
    right: 5%;
  }
}
.icon--sign-post {
  background-position: right top;
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 40%;
  right: -12%;
  bottom: -25%;
  background-image: url(../images/icons/signpost.svg);
  @include media-query('(min-width: 1280px)') {
    right: 0;
  }
}
.icon--magnifying-glass {
  background-position: left -20px top 20px;
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 30%;
  left: -10%;
  bottom: -25%;
  background-image: url(../images/icons/glass.svg);
  @include media-query('(min-width: 1280px)') {
    left: 0;
  }
}
.icon--swiss-army-knife {
  background-position: right -20px top 20px;
  background-size: contain;
  position: absolute;
  height: 95%;
  width: 30%;
  right: -10%;
  bottom: -25%;
  background-image: url(../images/icons/swiss-army-knife.svg);
  @include media-query('(min-width: 1280px)') {
    right: 0;
  }
}
.icon--devices {
  background-position: left -20px top 30px;
  background-size: contain;
  position: absolute;
  background-image: url(../images/icons/devices.svg);
  left: -5%;
  width: 30%;
  height: 140%;
  bottom: -70%;
  @include media-query('(min-width: 1280px)') {
    left: 0;
  }
}
.icon--coffee {
  background-position: left -20px top 50px;
  background-size: contain;
  position: absolute;
  background-image: url(../images/icons/coffee.svg);
  left: 0;
  width: 21%;
  height: 130%;
  bottom: -65%;
  @include media-query('(min-width: 1280px)') {
    left: 0;
  }
}
.icon--coffee-rajah {
  background-position: left -20px top 50px;
  background-size: contain;
  position: absolute;
  background-image: url(../images/icons/coffee--rajah.svg);
  left: 0;
  width: 21%;
  height: 130%;
  bottom: -65%;
  @include media-query('(min-width: 1280px)') {
    left: 0;
  }
}
