.icon {
  @include media-query('(max-width: 1160px)') {
    display: none;
  }
  background: no-repeat right bottom;
  display: block;
  background-size: 100% 100%;
  height: 335px;
  width: 400px;
}
.icon--lightbulb {
  position: relative;
  top: -70px;
  left: -25px;
  background-image: url(../images/icons/lightbulb.svg);
}
.icon--sign-post {
  background-image: url(../images/icons/signpost.svg);
}
.icon--magnifying-glass {
  background-image: url(../images/icons/glass.svg);
}
.icon--swiss-army-knife {
  background-image: url(../images/icons/swiss-army-knife.svg);
}
.icon--devices {
  background-image: url(../images/icons/devices.svg);
}
.icon--coffee {
  background-image: url(../images/icons/coffee.svg);
}
.icon--coffee-rajah {
  background-image: url(../images/icons/coffee--rajah.svg);
}
