.icon-list {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.icon-list__icon {
  text-align: center;
  width: 33%;
  &:before {
    content: '';
    display: block;
    width: 90px;
    max-width: 100%;
    height: 90px;
    margin: 0 auto 10px;
    background: none center center no-repeat;
    background-size: 100%;
  }
}
.icon-list__icon + .icon-list__icon {
  padding-left: 10px;
  @include media-query($medium-layout) {
    padding-left: 20px;
  }
}
.icon-list__icon--calculate {
  color: #DBA349;
  &:before {
    background-image: url(../images/icons/calculate.svg);
  }
}
.icon-list__icon--rosette {
  color: $jelly-bean;
  &:before {
    background-image: url(../images/icons/rosette.svg);
  }
}
.icon-list__icon--chart {
  color: $keppel;
  &:before {
    background-image: url(../images/icons/chart.svg);
  }
}

.icon-list__icon--twitter:before {
  background-color: $twitter;
}
.icon-list__icon--medium:before {
  background-color: $medium;
}
.icon-list__title {
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
}
