.icon-list {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.icon-list--massive-top-spacing {
  margin-top: 120px;
}
.icon-list__icon {
  text-align: center;
  width: 33%;
  &:before {
    content: '';
    display: block;
    width: 90px;
    max-width: 100%;
    height: 90px;
    margin: 0 auto 10px;
    background: none center center no-repeat;
    background-size: contain;
  }
}
.icon-list__icon + .icon-list__icon {
  padding-left: 10px;
  @include media-query($medium-layout) {
    padding-left: 20px;
  }
}
.icon-list__icon--calculate {
  color: #DBA349;
  &:before {
    background-image: url(../images/icons/calculate.svg);
  }
}
.icon-list__icon--rosette {
  color: $jelly-bean;
  &:before {
    background-image: url(../images/icons/rosette.svg);
  }
}
.icon-list__icon--chart {
  color: $keppel;
  &:before {
    background-image: url(../images/icons/chart.svg);
  }
}
.icon-list__icon--phone {
  color: #DBA349;
  &:before {
    background-image: url(../images/icons/phone.svg);
  }
}
.icon-list__icon--connected {
  color: $jelly-bean;
  &:before {
    background-image: url(../images/icons/connected.svg);
  }
}
.icon-list__icon--devices {
  color: $keppel;
  &:before {
    background-image: url(../images/icons/devices-circle.svg);
  }
}
.icon-list__icon--lock {
  color: $jelly-bean;
  &:before {
    background-image: url(../images/icons/lock.svg);
  }
}
.icon-list__icon--lock-2 {
  color: $keppel;
  &:before {
    background-image: url(../images/icons/lock-2.svg);
  }
}
.icon-list__icon--twitter {
  color: $twitter;
  &:before {
    background-image: url(../images/icons/gull.svg);
  }
}
.icon-list__icon--medium {
  color: $aquamarine;
  &:before {
    background-image: url(../images/icons/newspaper.svg);
  }
}
.icon-list__icon--news {
  color: $keppel;
  &:before {
    background-image: url(../images/icons/paper-plane.svg);
  }
}
.icon-list__icon--msf {
  &:before {
    background-image: url(../images/client-logos/msf.svg);
    width: auto;
  }
}
.icon-list__icon--obermeyer {
  &:before {
    background-image: url(../images/client-logos/obermeyer.svg);
    width: auto;
  }
}
.icon-list__icon--superior {
  &:before {
    background-image: url(../images/client-logos/superior.png);
    width: auto;
  }
}
.icon-list__icon--aas {
  &:before {
    background-image: url(../images/client-logos/aas.png);
    width: auto;
  }
}
.icon-list__icon--sheg {
  &:before {
    background-image: url(../images/client-logos/sheg.svg);
    width: auto;
  }
}
.icon-list__icon--redhat {
  &:before {
    background-image: url(../images/client-logos/redhat.svg);
    width: auto;
  }
}

.icon-list__title {
  font-size: 20px;
  line-height: 22px;
  @include font-primary;
}
.icon-list--hide-titles .icon-list__title {
  @include hide-text;
}
