.image-list {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.image-list__item {
  text-align: center;
  width: 33%;
}
.image-list__link {
  display: block;
  @include link-no-underline-block;
}
.image-list__image {
  height: 0;
  padding-bottom: 66%;
  background: none center center no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}
.image-list__item + .image-list__item {
  padding-left: 10px;
  @include media-query($medium-layout) {
    padding-left: 20px;
  }
}
.image-list__title {
  @include media-query($medium-layout) {
    font-size: 20px;
    line-height: 22px;
  }
  @include font-primary;
}

