.intro-copy {
  margin-top: 15px;
  font-size: 20px;
  line-height: 1.25em;
}
.intro-copy--max-width {
  max-width: 33em;
}
.intro-copy--centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
