@include media-query('(min-width: 700px)') {
  .layout-contact-us {
    @include clearfix();
    margin-bottom: -4px;
  }
  .layout-contact-us__column-one {
    float: right;
    width: 33%;
  }
  .layout-contact-us__column-two {
    float: left;
    width: 66%;
    padding-right: 20px;
  }
}
