// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($breakpoint) {
    @media screen and #{$breakpoint} {
        @content;
    }
}

@mixin hide-text {
  overflow:hidden;
  text-indent:-9000px;
  display:block;
}

@mixin no-spacing {
  margin: 0;
  padding: 0;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin link-no-underline($background-color: $white, $width: 1px) {
  text-decoration: none;
  text-shadow: 0 1px 1px $background-color;
  border-bottom: 0 solid;
  &:hover,
  &:focus {
    border-bottom-width: $width;
  }
}

@mixin max-width {
  max-width: $max-width;
}

@mixin triangle($dir, $size, $color) {
    border: $size transparent solid;

    @if ($dir == "top" or $dir == "up") {
        border-bottom-color: $color;
    }
    @else if ($dir == "right" or $dir == "after") {
        border-left-color: $color;
    }
    @else if ($dir == "bottom" or $dir == "down") {
        border-top-color: $color;
    }
    @else if ($dir == "left" or $dir == "before") {
        border-right-color: $color;
    }
}
