.person-card {
  background: $keppel;
  color: $isabelline;
  margin: 20px 0;
}
@include media-query('(max-width: 700px)') {
  .person-card {
    @include clearfix();
  }
  .person-card__image {
    float: right;
    width: 30%;
    padding-left: 10px;
    line-height: 0;
  }
}
.person-card__text {
  padding: 15px;
}
.person-card__text a {
  color: $isabelline;
  @include link-no-underline($keppel);
  @include font-secondary--bold;
}
