.person-card {
  background: $keppel;
  color: $isabelline;
  padding: 15px;
  margin: 20px 0;
  border-top-right-radius: 50px;
  font-weight: 400;
}
.person-card__image {
  float: right;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid $keppel;
  shape-outside: circle(60px at 70px 20px);
  width: 100px;
  height: 100px;
  margin: -30px -30px 10px 15px;
  img {
    min-width: 200px;
    margin-left: -25px;
  }
}
.person-card__text a {
  color: $isabelline;
  @include link-no-underline($keppel);
  font-weight: bold;
}
