.site-nav li {
  display: inline-block;
}
.site-nav li + li {
  margin-left: 20px;
}
.site-nav a {
  color: $isabelline;
  font-family: $font-family-primary;
  font-size: 18px;
  padding-top: 20px;
  display: inline-block;
  @include link-no-underline($width: 2px, $background-color: $jelly-bean);
  border-bottom-color: $rajah;
  transition: border-width 0.05s ease-in;
  &.is-active {
    color: $black;
  }
}
