.site-footer {
  background: $jelly-bean;
  color: $isabelline;
  font-size: 14px;
  line-height: 1.357142857em;
  padding: 0 40px 40px;
  -webkit-font-smoothing: initial;
  z-index: 1;
  position: relative;
}
.site-footer:before {
  @include cheese-wedge;
  @include cheese-wedge-background-above($jelly-bean);
  transform: scaleX(-1);
  bottom: 100%;
}
.site-footer__inner {
  @include max-width;
  @include clearfix();
  margin: 0 auto;
}
.site-footer a {
  color: $isabelline;
  @include link-no-underline($jelly-bean);
  font-weight: bold;
}
@media(min-width: 490px) {
  .site-footer__col-one {
    float: left;
    width: 45%;
  }
  .site-footer__col-two {
    float: right;
    width: 55%;
    max-width: 440px;
  }
  .site-footer__col-three {
    clear: both;
  }
}
.site-footer__logo {
  width: 230px;
  margin-bottom: 15px;
}
