.site-logo {
  @include hide-text;
  background: url('../images/logos/Wide-White-Large.svg') 0 0 no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 24.890829694%;
  border-bottom: none;
}
