$wide-layout: '(min-width: 740px)';

.site-header {
  background: linear-gradient(to bottom, $jelly-bean 0%,$jelly-bean 70%, transparent 70%,transparent 100%);
  color: $isabelline;
  position: relative;
  z-index: 1;
}
.site-header:after {
  background: $jelly-bean;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  transform-origin: 0;
  right: 0;
  z-index: -1;
  transform: skewY(5deg);
  transform-origin: 100%;
  bottom: -50%;
}
.site-header__inner {
  @include max-width;
  @include clearfix;
  margin: 0 auto;
  padding: 10px 15px 10px;
  @include media-query($site-nav-inline) {
    padding: 20px 40px 10px;
  }
}
.site-header__logo {
  width: 228px;
  @include media-query($wide-layout) {
    float: left;
  }
}
.site-header__nav {
  @include media-query($wide-layout) {
    float: right;
    text-align: right;
    width: calc(100% - 248px);
  }
}
.site-header__heading {
  float: left;
  width: 100%;
  clear: both;
  margin-top: 35px;
}
