.team-grid {
  display: flex;
  flex-wrap: wrap;
}
.team-grid__card {
  height: 0;
  border: none;
  position: relative;
  overflow: hidden;
  width: 50%;
  padding-bottom: 50%;
  @include media-query('(min-width: 550px)') {
    width: 25%;
    padding-bottom: 25%;
  }
}
.team-grid__card--span-2 {
  width: 100%;
  @include media-query('(min-width: 550px)') {
    width: 50%;
  }
}
.team-grid__info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background-color: rgba($jelly-bean, 1);
  color: $isabelline;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s ease-out;
}
.team-grid__card:hover,
.team-grid__card:focus {
  .team-grid__info {
    opacity: 1;
  }
}
.team-grid__name {
  font-size: 24px;
  line-height: 1em;
  font-family: $font-family-primary;
  font-weight: bold;
}
.team-grid__title {
  display: block;
  font-weight: bold;
  font-family: $font-family-primary;
  line-height: 1.1em;
}
.team-grid__seperator {
  display: none;
  -webkit-font-smoothing: initial;
}
.team-grid__location {
  display: inline;
  -webkit-font-smoothing: initial;
}
