.text-input {
  font-size: 1em;
  border: none;
  border-bottom: 2px solid $mid-grey;
  background: $white;
  width: 100%;
  padding: 5px;
  transition: color 0.2s ease-in-out;
  &:focus {
    border-color: $jelly-bean;
    outline: 0;
  }
}

.text-input--large {
  border: 2px solid $mid-grey;
  resize: none;
}
