<div class="cheese-wedge cheese-wedge--rajah">
  <div class="cheese-wedge__inner">
  <div class="cheese-wedge__icon"><i class="icon icon--coffee-rajah"></i></div>
  <div class="cheese-wedge__copy">
    <h2 class="site-heading">Stopping by in London?<br class="full-width-only" /> Meet us face to face.</h2>

    <p class="intro-copy">
    <span itemprop="name">Convivio</span><br />
    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">
    The Gridiron Building<br />
    One Pancras Square<br /></span>
    <span itemprop="addressRegion">London<br /></span>
    <span itemprop="postalCode">N1C 4AG<br /></span></span>
      <a target="_blank" rel="noopener" href="https://www.google.co.uk/maps/place/Convivio/@51.5329403,-0.1273217,17z/data=!3m1!4b1!4m5!3m4!1s0x48761b3c496b1383:0xe17efadda6ae993b!8m2!3d51.532937!4d-0.125133">View on a map</a>
    </p>


  </div>
  </div>
</div>

