<div class="cheese-wedge cheese-wedge--keppel">
  <div class="cheese-wedge__inner">
  <div class="cheese-wedge__icon"><i class="icon icon--coffee"></i></div>
  <div class="cheese-wedge__copy">
    <h2 class="site-heading">Leading digital transformation?<br class="full-width-only" /> Let's have a chat.</h2>

    <p class="intro-copy">We often find there’s one visionary person driving digital transformation in big organisations — a digital hero. It can be hard, and sometimes lonely, work, but ultimately very rewarding. We understand the challenges you face, and we can help.</p>

    <a class="button button--spacing-top" href="/contact">Contact us</a>
  </div>
  </div>
</div>
