<div class="cheese-wedge cheese-wedge--cps  cheese-wedge--right">
  <div class="cheese-wedge__inner">
  <div class="cheese-wedge__icon"><i class="icon icon--cps"></i></div>
  <div class="cheese-wedge__copy">
    <h2 class="site-heading">Helping the CPS help victims of crime</h2>

    <p class="intro-copy">The Crown Prosecution Service were looking to rebuild CPS.gov.uk. They needed to understand who visits the website, what they use it for, what they would like to use it for, and what could be improved.</p>

    <a class="button button--primary button--spacing-top" target="_blank" href="https://blog.weareconvivio.com/discovering-how-to-better-serve-victims-of-crime-c2fe1c4255cf">Read the case study</a>

  </div>
  </div>
</div>
