{% if page.header-image %}
  {% capture classes %}site-header site-header--image site-header--image-{{ page.header-image }}{% endcapture %}
{% else %}
    {% assign classes = 'site-header' %}
{% endif %}

<header class="{{classes}}">
  <div class="site-header__inner">

    <div class="site-header__logo">
      <a class="site-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <nav class="site-header__nav">
      <ul class="site-nav">
        <li><a href="/services">Services</a></li>
        <li><a href="/purpose">Purpose</a></li>
        <li><a href="/team">Team</a></li>
        <li><a target="_blank" href="http://blog.weareconvivio.com">Blog</a></li>
        <li><a href="/contact">Contact us</a></li>
      </ul>
    </nav>

    <!-- { Prevent widows without using a liquid filter } -->
    {% assign split_title = page.title | split: ' ' %}
    {% capture title %}
      {% for word in split_title %}{% if forloop.last == true %}&nbsp;{{ word | strip }}{% else %} {{ word }}{% endif %}{% endfor %}
    {% endcapture %}

    <div class="site-header__heading">
      <h1 class="site-heading site-heading--centered">{{ title }}</h1>
    </div>

  </div>
</header>
