<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon-precomposed" href="/favicon-152.png">

  <title>{% if page.meta-title %}{{ page.meta-title | escape }} — Convivio{% elsif page.title %}{{ page.title | escape }}  — Convivio{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="google-site-verification" content="KHl4yrET7iiMzLYr9dyL8Zrez6B4ZTFOYjZ7QvOYvNM" />

  <link rel="stylesheet" href="/css/style.css?v={{ site.time | date: '%s' }}" media="all" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

 <script type="text/javascript" src="/webfonts/MyFontsWebfontsKit.js"></script>
 <script type="text/javascript">
    (function() {
        var path = '//easy.myfonts.net/v2/js?sid=210852(font-family=Avenir+Next+Pro+Italic)&sid=210860(font-family=Avenir+Next+Pro+Bold)&sid=217165(font-family=Avenir+Next+Pro)&sid=255228(font-family=Avenir+Next+Pro+Light)&key=Pke1IMrvPk',
            protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
            trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
</script>
</head>
