<div class="service-grid">
  <div class="service-grid__copy">
    <h2 class="site-heading service-grid__title cheese-wedge__background">{{ include.title }}</h2>
    <p class="intro-copy cheese-wedge__background">{{ include.copy1 }}</p>
    {% if include.copy2 != empty %}
      <p class="intro-copy cheese-wedge__background">{{ include.copy2 }}</p>
    {% endif %}
    {% if include.copy3 != empty %}
      <p class="intro-copy cheese-wedge__background">{{ include.copy3 }}</p>
    {% endif %}
  </div>
  <img class="service-grid__image" src="{{ include.img }}" />
  <div class="service-grid__listing cheese-wedge__background">
  <h3 class="sub-heading">What we do</h3>
  <ul>
    <li>Service one</li>
    <li>Service two</li>
    <li>Service three</li>
    <li>Service four</li>
  </ul>
</div>
</div>
