<div class="cheese-wedge cheese-wedge--keppel cheese-wedge--align-left cheese-wedge--with-cta">
  <div class="cheese-wedge__inner">
    <h2 class="site-heading">What this means for you</h2>

    <p class="intro-copy">We can help you deliver highly effective digital services for your organisation, enabling you to better serve your staff, customers or citizens. We work with you as one team in a highly collaborative, delivery-focused environment.</p>

    <div class="cta-combo">
      <p class="cta-combo__copy">Discover how we can take you from<br class="full-width-only" /> strategy to delivery</p>
      <div class="cta-combo__button">
        <a class="button button--cta" href="/services">Find out about our services</a>
      </div>
    </div>
  </div>
</div>
