<div class="team-grid spacing-top">
  {% include grid-image.html img="/images/work/quarterly-dinner--medium.jpg" srcset="/images/work/quarterly-dinner--medium@2x.jpg 2x" url="https://www.instagram.com/p/BLib5P3FyU7/?taken-by=weareconvivio" span="2" caption="Our first quarterly retreat, starting with dinner" %}

  {% include grid-image.html img="/images/work/workshop--small.jpg" srcset="/images/work/workshop--small@2x.jpg 2x" url="https://blog.weareconvivio.com/weeknotes-week-1-be23cf06b287#.hk4j368bn" caption="Our Day One kickoff workshop" %}


  {% include grid-image.html img="/images/work/day-one--small.jpg" src="/images/work/day-one--small@2x.jpg 2x"  url="https://blog.weareconvivio.com/weeknotes-week-1-be23cf06b287#.7lup6saaa" caption="Day one dinner" %}

  {% include grid-image.html img="/images/team/steve-parks--small.jpg" srcset="/images/team/steve-parks--small@2x.jpg 2x"  url="https://blog.weareconvivio.com/weeknotes-17-our-first-three-months-340d00ae2587#.uyb9ait1m" caption="Steve Parks<br /> BBQ connoisseur" %}

  {% include grid-image.html img="/images/work/brand-workshop--medium.jpg" srcset="/images/work/brand-workshop--medium@2x.jpg 2x" span="2" url="https://blog.weareconvivio.com/building-the-convivio-brand-part-1-6e71afe8f9e5" caption="Considering the Convivio brand" %}

  {% include grid-image.html img="/images/work/meet-up--small.jpg" srcset="/images/work/meet-up--small@2x.jpg 2x"  url="https://blog.weareconvivio.com/weeknotes-17-our-first-three-months-340d00ae2587#.uyb9ait1m" caption="We meet up every two weeks" %}
</div>
