<div class="cheese-wedge cheese-wedge--right">
  <div class="cheese-wedge__inner">
  <div class="cheese-wedge__copy">
    <h2 class="site-heading">Clients we've worked with</h2>

    <ul class="icon-list">
      <li class="icon-list__icon icon-list__icon--msf">
        <h3 class="icon-list__title">MSF</h3>
      </li>
      <li class="icon-list__icon icon-list__icon--superior">
        <h3 class="icon-list__title">Superior Recreational Products</h3>
      </li>
      <li class="icon-list__icon icon-list__icon--sheg">
        <h3 class="icon-list__title">Stanford Historial Education Group</h3>
      </li>
    </ul>
    <ul class="icon-list">
      <li class="icon-list__icon icon-list__icon--aas">
        <h3 class="icon-list__title">American Astronomical Society</h3>
      </li>
      <li class="icon-list__icon icon-list__icon--obermeyer">
        <h3 class="icon-list__title">Obermeyer Sport</h3>
      </li>
      <li class="icon-list__icon icon-list__icon--redhat">
        <h3 class="icon-list__title">Redhat</h3>
      </li>
    </ul>
  </div>
  </div>
</div>
